@font-face {   /* importing the font that I'll be using  */
  font-family: "San Francisco";
  font-weight: 400;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

body{    /*  styling the whole website's body, using the font i imported  */
  background-color: black;
  font-family:'San Francisco';
  margin: 0;
  padding: 0;
}

.xcontainer {    /* styling the top intro page  */
  background-image: url("../img/steven2.gif");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  text-align: left;
  padding-top: 0.9em;
  padding-left: 5em;
  min-height: 600px;
}


.xabout{  /* styling the second "about me" page  */
  background-color: white;
  text-align: right;
  padding-top: 0.09em;
  padding-left: 5em;
}

.xprojects{ /* styling the third "projects" page  */
  background-color: #E0E0E0;
  text-align: left;
  padding-top: 0.09em;
  padding-left: 5em;
  margin-top: 0px;
  }


h1{   /*  styling the first header style, applying text shadow to make the font look thicker, since the font itself doesn't allow more weight(probably not the best practice but the easiest solution I could find)  */
  color: white;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  margin-top: 130px;

}

h2{  /*  second header style  */
  color: black;
  font-size: 90px;
  font-weight: 900;
  text-shadow: 0px 2px, 2px 0px, 2px 2px;
  margin-top: 65px;
  background-color: rgba(0,0,0,0);
  margin-right: 60px;
  margin-bottom: 40px;
}

h3{         /*  third header style  */
  color: black;
  font-size: 40px;
  font-weight: 10;
  margin-top: 65px;
  background-color: rgba(0,0,0,0);
  margin-right: 60px;
  margin-bottom:40px;
  padding-bottom: 0px;
  line-height: 50px;
}

h4{   /*  4th header style  */
  color: white;
  font-size: 32px;
  font-weight: 1;
  margin-top: 10px;
  background-color: rgba(0,0,0,0);
  margin-right: 60px;
  margin-bottom:60px;
  padding-bottom: 60px;
  line-height: 60px;
}

a{    /*  tag styling the hyperlinks  */
  color: black;
  font-size: 18px;
  margin-top: 0;
  background-color: rgba(0,0,0,0);
  margin-right: 10px;
  margin-bottom:0;
  padding-bottom: 60px;
  line-height: 40px;
}

p{   /*  styling the paragraph tag  */
  color: black;
  font-size: 30px;
  margin-top: 0;
  background-color: rgba(0,0,0,0);
  margin-right: 60px;
  margin-bottom:0;
  padding-bottom: 60px;
  line-height: 40px;
}


img{  /* styling the main picture  */
  float: right;
  height: 33%;
  width: 33%;
  align: top;
}

hr{   /*  styling the line used to divide the projects  */
  width: 90%;
  align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

mark{  /*  styling mark tag used to highlight some words  */
  background-color: rgba(148, 242,255,0,5);
  padding: 0 0.1em;
  display: inline-block;
  height: 1.15em;
  line-height: 1.15;
}

/*  Add a black background color to the top navigation */
.topnav {
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    margin-right: 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 10px;
    position: relative;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #f2f2f2;
}


/* Styling the main home profile picture */
.npic{
  position: absolute;
  right: 0;
  bottom: 0;
}


.grid-container{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto;
  background-color: white;
  grid-template-rows: 1;

}

.grid-item {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 35px;
  background-color: white;
  padding-right: 10px;
}

.modal-img{
  width: 100%;
  align: center;
}


/*modal stuff css v */
a {
  color: inherit;
}

.container {
  display: table;
  width: 100%;
  height: 100%;
}

.interior {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  color: black;
  background-color: #fff;
  padding: 1em 3em;
  border-radius: 3px;
  text-decoration: none;
  float: right;
  margin-right: 60px;
}


.modal-window {
  width: 80%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 800px;
  height: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
  overflow-y: auto;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
/* end of modal stuff css ^ */


.carousel-caption{
  background-color: rgba(0,0,0,0);
}

footer{   /*  styling the footer  */
  background-color: black;
}
footer p{  /*  styling the footer's paragraph tag  */
  color: white;
}

footer h4{   /*  styling footer's h4 tag  */
  margin-bottom: 10px;
  font-size: 24px;
  align: center;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 20px;
}

footer form-group{
  width: 10px;
}

.small {   /* styling the font used in the very last "copyright" section of the page   */
  color: black;
  background-color: white;
}

.col-md-4 img{    /* styling images displayed in the footer's columns   */
  vertical-align: top;
  display: inline;
  width: 15%;
  margin-right: 1%;
  margin-bottom: 0.5em;"
}

.col-md-4 li{   
  vertical-align: top;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

a.twitter-timeline {
  background: black;
}


.mainSlider carousel-caption{
  background-color: transparent;
}
